<div id="gmap" class="full"></div>
<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', function()
{
    // URLのハッシュを参考に地点を決定する
    var hash_data = [];

    if (location.hash) {
        hash_data = location.hash.substr(1).split(",");
    }

    var config = {
        lat: +hash_data[0] || 35.6832894073129,
        lng: +hash_data[1] || 139.81925904750824,
        zoom: +hash_data[2] || 11
    }

    // Google Mapを作成する

    var mapOptions = {
        zoom: config.zoom,
        center: new google.maps.LatLng(config.lat, config.lng),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scaleControl: true
    };

    var mapObj = new google.maps.Map(document.getElementById('gmap'), mapOptions);

    // マーカーリスト
    var list = [
        <% if @spots %>
            <% @spots.each do |spot| %>
                { id: <%= spot.id %>, name: "<%= spot.name %>", latlng: new google.maps.LatLng( <%= spot.lat %>, <%= spot.lng %>) },
            <% end %>
        <% end %>
    ]

    list.forEach(function(spot) {
        // マーカー画像を作成
        var markerImg = {
          url: "/spot/" + spot.id + "/image",
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(50, 50)
        };
        var marker = new google.maps.Marker({
            position: spot.latlng,
            map: mapObj,
            icon: markerImg,
            title: spot.name
        });
        // マーカーを作成
        google.maps.event.addListener(marker, 'click', function() {
            location.href = "spot/" + spot.id;
        })
    });

    //マップ操作のイベント
    google.maps.event.addListener(mapObj, 'drag', function() {
        config.lat = mapObj.getCenter().k;
        config.lng = mapObj.getCenter().D;
        updateHash();
    });
    google.maps.event.addListener(mapObj, 'zoom_changed', function() {
        config.zoom = mapObj.getZoom();
        updateHash();
    });

    function updateHash() {
        location.hash = [config.lat, config.lng, config.zoom].join(",");
    }
});
</script>
